@import "../../../global.scss";

.recentWorkSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 96%;
  padding: 4% 2% 5% 2%;
}

.emailMeText {
  color: blueviolet;
  margin-left: 5px;
}

.emailMeText:hover {
  cursor: pointer;
}

.recentWorkCardsContainer {
  width: 90%;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  @include phone {
    /* For mobile phones: */
    width: 100%;
    flex-direction: column;
  }
}