@import "../../global.scss";

:root {
  --sidenav-translate-x: -300px;
}

.navContainer {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  left: 0;
  top: 63px;
  min-height: calc(100vh - 63px);
  max-width: 300px;
  width: 100vw;
  z-index: 1000;
  transition: transform 250ms ease-in-out;
  transform: translateX(var(--sidenav-translate-x));
  padding: 32px 0 0 0;
  @include pc {
    --sidenav-translate-x: -300px;
    padding-left: 0px;
  }
}
.navBarContainer {
  margin-top: 30px;
}

.navContentContainer {
  margin-top: 50px;
  margin-left: 20px;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.navItem {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.navItemText {
  font-size: 20px;
  margin-left: 15px;
}