@import '../../../global.scss';

.collaborateSction {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 96%;
  padding: 3% 2% 3% 2%;
}

.collaborateHeader {
  margin: 30px 30px 20px 30px;
  font-weight: 700;
  font-size: 25px;
  text-align: center;
  @include phone {
    margin: 30px 5px 20px 5px;
  }
}

.collaborateDesc {
  font-weight: 400;
  font-size: 15px;
  text-align: center;
  margin-bottom: 20px;
}

.collaborateAction {
  margin: 30px 0 30px 0;
  width: 16%;
  border-radius: 2vw;
  text-align: center;
  padding: 1vw;
  @media only screen and (max-width: 768px) {
    /* For mobile phones: */
      width: 60%;
      padding: 5vw;
      border-radius: 10vw;
  }
}

.collaborateAction:hover {
  cursor: pointer;
}

.actionText {
  font-weight: 700;
  font-size: 13px;
  @media only screen and (max-width: 768px) {
    /* For mobile phones: */
    font-size: 18px;
  }
}