@import "../../global.scss";

.footerContainer {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 4% 0 4% 0;
}

.logoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.logo {
  width: 75px;
  height: 25px;
  margin-bottom: 20px;
}

.footerText {
  color: white;
  font-weight: 400;
  font-size: 17px;
  text-align: center;
  margin-bottom: 70px;
  @include phone {
    margin-bottom: 15px;
  }
}

.socialMediaContainer {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  animation-duration: 1s;
  animation-fill-mode: both;
  -webkit-animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  opacity: 0;
  animation-name: fadeInUp;
  -webkit-animation-name: fadeInUp;
}

.socialIconsContainer {
  display: flex;
  justify-content: space-between;
  width: 250px;
}

.cerditsText {
  color: white;
  font-size: 13px;
  margin-bottom: 10px;
  text-align: center;
}

.creditsLogo {
  margin: 5px 5px 0px 5px;
}

.socialLink {}

.socialLink:hover {
  cursor: pointer;
}


@keyframes fadeInUp {
  from {
      transform: translate3d(0,40px,0)
  }

  to {
      transform: translate3d(0,0,0);
      opacity: 1
  }
}

@-webkit-keyframes fadeInUp {
  from {
      transform: translate3d(0,40px,0)
  }

  to {
      transform: translate3d(0,0,0);
      opacity: 1
  }
}
